/* Palette from Color Hunt
#064635
#519259
#F0BB62
#F4EEA9
https://colorhunt.co/palette/064635519259f0bb62f4eea9

additional color: #F4EEA9
*/


body {
    font-family: 'Signika', sans-serif;
    background-color: #064635;
    color: #F0BB62;
    text-align: center;
}

#mode-toggle {
    position: absolute;
    top: 1px;
    right: 1px;
    margin: 0;
    padding: 1px;
    text-align: center;
    background-color: #F0BB62;
    color: #064635;
    font-family: 'Signika', sans-serif;
    width: 3.5em;
    height: auto;
    font-size: .5em;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    cursor: pointer;
}

header>h1,
h2 {
    margin: .25em auto 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1em;
}

main {
    margin: .25em auto 2em;
}

#text-copied-message {
    width: fit-content;
    margin: .25em auto .25em;
    padding: 0 5px 0 5px;
    border-radius: 5px;
    font-size: 1.25;
    background-color: #F0BB62;
    color: #064635;
    visibility: hidden;
}

#original-text {
    width: 98%;
    height: 100px;
    font-size: 1em;
    border-width: 2px;
    border-radius: 5px;
    background-color: #F4EEA9;
    border-color: #519259;
    color: #064635;
    text-align: left;
    resize: none;
}

.case-button-area {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: center;
    justify-content: center;
    gap: .25em;
    margin-top: .75em;
}

.buttons {
    width: 10em;
    height: 3em;
    margin: .25em;
    font-size: 1em;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    background-color: #F0BB62;
    color: #064635;
    box-shadow: 3px 3px #f0bc6283;
}

.buttons:active {
    box-shadow: 1px 1px #519259;
    transform: translate(1px);
}

#copier-button {
    margin-top: 1em;
    background-color: #519259;
    color: #F4EEA9;
    box-shadow: 3px 3px #5192597e;
}

#copier-button:active {
    box-shadow: 1px 1px #f0bc6283;
    transform: translate(1px);
}

/*tablet query*/
@media only screen and (min-width: 768px) {
#mode-toggle {
    top: 3px;
    right: 3px;
    width: 3.8em;
    font-size: .6em;
}

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.25em;
    }

    main {
        margin: .25em auto 3em;
    }

    #text-copied-message {
        margin: .5em auto .5em;
        font-size: 1.5em;
    }

    #original-text {
        width: 95%;
        height: 150px;
        font-size: 1.25em;
    }

    .case-button-area {
        grid-template-columns: repeat(4, auto);
    }

    #copier-button {
        margin-top: 1.5em;
    }
}

/*desktop query*/
@media only screen and (min-width: 992px) {
    #mode-toggle {
    width: 4em;
    font-size: .75em;
}

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.5em;
    }

    main {
        margin: .25em auto 3em;
    }

    #text-copied-message {
        margin: .75em auto .75em;
        font-size: 1.75em;
    }

    #original-text {
        width: 92%;
        height: 200px;
        font-size: 1.5em;
    }

    #copier-button {
        margin-top: 2em;
    }
}